<footer class="portfolio-footer">
  <div class="footer-content">
    <div class="footer-about">
      <h3>About Me</h3>
      <p>
        "Passionate Full Stack Developer with expertise in building dynamic web
        applications"
      </p>
    </div>
    <div class="footer-links">
      <h3>Quick Links</h3>
      <ul>
        <li><a class="text" href="#projects">Projects</a></li>
        <li><a href="#about">About Me</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
    <div class="footer-contact">
      <h3>Contact Me</h3>
      <p>
        Email:
        <a href="mailto:ahmed.aldhahi.a@gmail.com"
          >ahmed.aldhahi.a&#64;gmail.com</a
        >
      </p>
      <p>Phone: +962 798944974</p>
    </div>
    <div class="footer-social">
      <h3>Follow Me</h3>
      <a href="https://github.com/AhmedAldhahi" target="_blank">GitHub</a>
      <a
        href="https://www.linkedin.com/in/ahmed-aldahi-83855b2a2/"
        target="_blank"
        >LinkedIn</a
      >
      <a href="https://www.instagram.com/ahmad_abeer01/" target="_blank"
        >Instagram</a
      >
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Ahmad Abeer. All Rights Reserved.</p>
  </div>
</footer>
