<div class="text">
  <div class="profile-container">
    <h1 class="title">
      <span class="gradient-text">Full Stack Web</span><br />
      <span class="solid-text"> Developer</span>
      <p class="soft-bio">
        I specialize in both front-end and back-end development using modern
        frameworks like Angular,<br />
        React Native, and Node.js.
      </p>
    </h1>
    <img
      src="../../assets/images/smiling-wounded-rock-lee-6y6h2eo4ew3u3co5.jpg"
      alt="Ahmed's Photo"
      class="profile-pic"
    />
  </div>

  <!-- <p>
            Hi, I’m Ahmed, a passionate software engineering student at Middle East
            University with a keen interest in web development and design.<br />
            I have developed several projects using Angular and React Native, focusing
            on creating user-friendly and efficient applications.
        </p> -->

  <h3>Skills</h3>
  <ul>
    <li>JavaScript, TypeScript, C++</li>
    <li>Angular, React Native</li>
    <li>MySQL, Git</li>
    <li>Node.js, Express.js</li>
  </ul>

  <!-- <h3>Projects</h3>
    <p>Check out my <a href="#portfolio">portfolio</a> to see my latest projects!</p> -->

  <h3>Interests</h3>
  <p>
    In my free time, I enjoy reading tech blogs, gaming, and exploring new
    technologies.
  </p>

  <h3>Future Goals</h3>
  <p>
    I aspire to work in a challenging environment where I can contribute to
    impactful projects and continue to grow my skills.
  </p>

  <!-- <h3>Contact</h3>
  <p>
    Feel free to reach out to me via
    <a href="mailto:ahmed.aldhahi.a@gmail.com"
      ><i class="fas fa-envelope"></i>email</a
    >
    or connect with me on
    <a
      href="https://www.linkedin.com/in/ahmed-aldahi-83855b2a2/"
      target="_blank"
    >
      <i class="fab fa-linkedin"></i>LinkedIn</a
    >.
  </p> -->
</div>
