<div id="main-container">
  <div class="card-collection">
    <app-card
      [title]="'Credit Card'"
      [imageSource]="'assets/images/Creditcard.png'"
      [UrlLink]="'https://creditcard-nu-six.vercel.app/'"
    >
    </app-card>
    <app-card
      [title]="'Email Client'"
      [imageSource]="'assets/images/EmailClient.png'"
      [UrlLink]="'https://email-client-jet.vercel.app/'"
    >
    </app-card>
    <app-card
      [title]="'Fast Math'"
      [imageSource]="'assets/images/Mathform.png'"
      [UrlLink]="'https://fast-math-one.vercel.app/'"
    >
    </app-card>
    <app-card
      [title]="'Wiki Search'"
      [imageSource]="'assets/images/Wsearch.png'"
      [UrlLink]="'https://wikisearch-ashen.vercel.app/'"
    >
    </app-card>
  </div>
</div>
