.card-collection {
  /* display: flex;
    justify-content:center; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  height: auto;
}
@media (max-width: 768px) {
  .card-collection {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Change to two columns on smaller screens */
  }
}
#main-container {
  display: flex;
  justify-content: center;
}
